<div class="page-header"><header>
    <h1 class="project-name">{{title}}</h1>
  </header>
</div>

<div class="duration-buttons">
  <div class="btn" [class.selected]="selectedButton === 'All Time'" (click)="selectButton('All Time')">All Time</div>
  <div class="btn" [class.selected]="selectedButton === 'Today'" (click)="selectButton('Today')">Today</div>
  <div class="btn" [class.selected]="selectedButton === 'This Month'" (click)="selectButton('This Month')">This Month</div>
  <div class="btn" [class.selected]="selectedButton === 'This Year'" (click)="selectButton('This Year')">This Year</div>
  <div class="btn" [class.selected]="selectedButton === 'Custom'" (click)="selectButton('Custom')">Custom</div>
</div>