.task{
    margin: 15px;
    padding: 10px 20px;
    background-color: #f4f4f4;
    height: 150px;
    text-align: center;
    justify-content: center;
}   

.task h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}