.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wrap{
    display: flex;
    justify-content: right;
}

.show-more {
    background-color: cadetblue;
    width: 130px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}