div{
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    // justify-content: center;
}

.label {
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis */
  }